Repository gracebrickley/opentofudemo: changes, and which Atlantis projects are due for each by the changed paths.
All: platform-kind-cluster, platform-vcluster, teams-team-a, teams-team-b

atlantis.yaml:

# Atlantis Configuration
# Defines how Atlantis handles pull requests for this repository

version: 3

automerge: false
delete_source_branch_on_merge: false

# Parallel execution settings
parallel_plan: true
parallel_apply: false

# Project definitions
projects:
  # Platform: KIND Cluster
  - name: platform-kind-cluster
    dir: stacks/platform/kind-cluster
    workspace: default
    terraform_version: v1.8.8
    autoplan:
      when_modified:
        - "*.tf"
        - "*.hcl"
        - "terragrunt.hcl"
        - "../../../terragrunt.hcl"
      enabled: true
    apply_requirements:
      - approved
      - mergeable
    workflow: terragrunt
    
  # Platform: vcluster
  - name: platform-vcluster
    dir: stacks/platform/vcluster
    workspace: default
    terraform_version: v1.8.8
    autoplan:
      when_modified:
        - "*.tf"
        - "*.hcl"
        - "terragrunt.hcl"
        - "../../../terragrunt.hcl"
      enabled: true
    apply_requirements:
      - approved
      - mergeable
    workflow: terragrunt
    
  # Team A
  - name: teams-team-a
    dir: stacks/teams/team-a
    workspace: default
    terraform_version: v1.8.8
    autoplan:
      when_modified:
        - "*.tf"
        - "*.hcl"
        - "terragrunt.hcl"
        - "../../../terragrunt.hcl"
      enabled: true
    apply_requirements:
      - approved
      - mergeable
    workflow: terragrunt
    
  # Team B
  - name: teams-team-b
    dir: stacks/teams/team-b
    workspace: default
    terraform_version: v1.8.8
    autoplan:
      when_modified:
        - "*.tf"
        - "*.hcl"
        - "terragrunt.hcl"
        - "../../../terragrunt.hcl"
      enabled: true
    apply_requirements:
      - approved
      - mergeable
    workflow: terragrunt

ATlantis.yaml changes
  atlantis.yaml
Due: none

Creating dummy resource and updating atlantis.yaml
  atlantis-repos.yaml
  atlantis.yaml
  stacks/teams/team-a/main.tf
Due: teams-team-a

updating repos.yaml
  repos.yaml
Due: none

editing dummy resource
  stacks/teams/team-a/main.tf
Due: teams-team-a

updating atlantis.yaml
  atlantis.yaml
  stacks/teams/team-a/main.tf
Due: teams-team-a

updating dummy resource
  stacks/teams/team-a/main.tf
Due: teams-team-a

updating atlantis and dummy resource
  atlantis.yaml
  stacks/teams/team-a/main.tf
Due: teams-team-a

Creating ./gitops and running tofu with atlantis
  atlantis.yaml
  gitops/main.tf
Due: none

making changes
  atlantis.yaml
  gitops/main.tf
Due: none

making changes to gitops/main.tf
  gitops/main.tf
Due: none

amending backend block
  gitops/main.tf
Due: none

replacing tofu- with opentofu-day-2025-
  gitops/main.tf
Due: none

changing bucket name
  gitops/main.tf
Due: none

changing buckets name back
  gitops/main.tf
Due: none

deleted all buckets and retrying
  gitops/main.tf
Due: none

changing the name of a bucket
  gitops/main.tf
Due: none

Changing a bucket name
  gitops/main.tf
Due: none

changing bucket name again
  gitops/main.tf
Due: none

changing bucket name
  .opentofu-version
  README.md
  gitops/main.tf
  stacks/platform/kind-cluster/terragrunt.hcl
Due: platform-kind-cluster

changing bucket name
  .opentofu-version
  gitops/main.tf
Due: none
